* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;

	--pd-sm: 1rem;
	--pd-med: 1rem;

	--fs-400: 1.25rem;
	--fs-300: 1.125rem;
	--fs-200: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.panel {
	width: 100%;
	position: fixed;
	bottom: 0;
	padding: var(--pd-med);
	background: #f7f7f7;
	color: rgb(0, 0, 0);
	z-index: 1;
	border-radius: 8px 8px 0px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: var(--fs-400);
	transition: height 500ms ease;
}

.panel-max {
	height: 90svh;
}

.panel-min {
	height: 40svh;
}

.panel-content-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	width: 100%;
	height: 100%;
}

.panel-handle {
	height: 2rem;
	width: 4rem;
	padding: var(--pd-med);
	position: relative;
}

.panel-handle:before {
	content: "";
	display: block;
	height: 0.25rem;
	width: 2rem;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.25);
	position: absolute;
	top: 0;
}

.map {
	width: 100%;
}

.map-max {
	height: 80svh;
}

.map-min {
	height: 30svh;
}

.map-container {
	width: 100%;
	height: 100vh;
}

.highlight {
	font-weight: bold;
}

.combobox-container {
	flex-grow: 2;
}

.combobox-popover {
	z-index: 2;
	font-size: var(--fs-400);
}

.combobox-input {
	width: 100%;
	padding: var(--pd-sm);
	border-radius: 4px;
	border: 0;
	font-size: var(--fs-400);
}

.address-menu-button {
	width: fit-content;
	border: none;
	font-size: var(--fs-400);
	background-color: transparent;
	color: blue;
	position: relative;
	margin-bottom: 1rem;
}

.address-menu-button::before {
	display: block;
	content: "";
	width: 100%;
	height: 2px;
	background-color: blue;
	position: absolute;
	bottom: 0;
	left: 0;
}

.address-list-grow {
	flex-grow: 10000;
}

.address-list {
	list-style-type: none;
	overflow-y: scroll;
	transition: height 500ms ease;
}

.address-list-max {
	height: calc(90svh - ((8 * var(--pd-med)) + 4rem + (3 * var(--fs-400))));
}

.address-list-min {
	height: calc(40svh - ((8 * var(--pd-med)) + 4rem + (3 * var(--fs-400))));
}

.address-list-item-content {
	width: 100%;
	padding: var(--pd-sm);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
	background-color: white;
	transition: transform 500ms ease;
}

.show-delete {
	transform: translateX(
		calc((((var(--fs-300) * 3)) + (var(--pd-sm) * 2)) * -1)
	);
}

.hide-delete {
	transform: translateX(calc((var(--fs-300) * 3)) + (var(--pd-sm) * 2));
}

.address-list-item {
	position: relative;
	overflow: hidden;
}

.address-text {
	font-size: var(--fs-400);
	display: flex;
	flex-direction: column;
	gap: 0.125rem;
	flex-grow: 2;
}

.address-list span {
	font-size: var(--fs-200);
	color: rgba(0, 0, 0, 0.5);
}

.directions-button {
	padding: var(--pd-med);
	background-color: rgb(0, 200, 0);
	font-weight: bold;
	border-radius: 4px;
	text-decoration: none;
	color: white;
}

.directions-button:hover {
	background-color: green;
}

.remove-button {
	background-color: rgb(200, 0, 0);
	border-radius: 0 4px 4px 0px;
	border: none;
	display: grid;
	place-items: center;
	color: white;
	padding: 0 var(--pd-sm);
	width: fit-content;
	font-weight: bold;
	font-size: var(--fs-300);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.bring-up {
	z-index: 1;
}

.bring-down {
	z-index: -1;
}

.remove-button:hover {
	background-color: maroon;
}

.optimize-button {
	padding: var(--pd-med);
	background-color: rgb(0, 200, 0);
	width: 100%;
	font-weight: bold;
	border-radius: 4px;
	text-decoration: none;
	color: white;
	border: none;
	font-size: var(--fs-400);
}

.optimize-button:hover {
	background-color: green;
}

.notifications-container {
	z-index: 2;
	width: 100%;
	gap: 0.25rem;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1rem;
}

.notification {
	padding: var(--pd-med);
	color: white;
	font-weight: bold;
	border-radius: 4px;
	animation: fade 1s ease 5s;
}

.error-notification {
	background-color: red;
}

.info-notification {
	background-color: rgb(0, 200, 0);
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
